[user]
	name = Frédéric Cabestre
	email = frederic.cabestre@free.fr

[color]
	ui = true

[core]
	editor = emacs
	pager = less

[commit]
	template = ${USER}/.gitmessage.txt

[push]
	default = simple

[gc]
	auto=1

[branch]
	autosetuprebase = always

[diff]
	external = /home/fred/bin/meld-wrapper

[push]
	default = simple

[alias]
	ci = commit
        co = checkout
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
        st = status -sb

