[user]
	name = Frédéric Cabestre
	email = frederic.cabestre@easymile.com

[color]
	ui = true

[core]
	editor = emacsclient -t
	pager = less
	excludesfile = ~/.gitignore

[commit]
	template = ~/.gitmessage.txt

[push]
	default = simple

[gc]
	auto=1

[branch]
	autosetuprebase = always

[diff]
	external = /home/fred/bin/meld-wrapper

[push]
	default = simple

[alias]
	ci = commit
				co = checkout
	cob = checkout -b
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
	mff = merge --ff-only
	psu = push --set-upstream origin
	pl = push --force-with-lease
				st = status -sb
